I dati dell'inflazione sono disponibili a su questo [sito](https://it.inflation.eu/tassi-di-inflazione/italia/inflazione-storica/cpi-inflazione-italia.aspx).

In [1]:
import pandas as pd

In [2]:
# leggere tutte le tabelle
df = pd.read_html("https://it.inflation.eu/tassi-di-inflazione/italia/inflazione-storica/cpi-inflazione-italia.aspx")

# seleziona la tabella della inflazione storica
df = df[8]

In [3]:
df

,0,1,2,3,4
0,inflazione annua (da dic. a dic),inflazione,NaN,inflazione annua (da dic. a dic),inflazione
1,CPI Italia 2018,"1,09 %",NaN,CPI Italia 2008,"2,24 %"
2,CPI Italia 2017,"0,90 %",NaN,CPI Italia 2007,"2,61 %"
3,CPI Italia 2016,"0,49 %",NaN,CPI Italia 2006,"1,87 %"
4,CPI Italia 2015,"0,09 %",NaN,CPI Italia 2005,"1,99 %"
5,CPI Italia 2014,"0,00 %",NaN,CPI Italia 2004,"2,03 %"
6,CPI Italia 2013,"0,66 %",NaN,CPI Italia 2003,"2,50 %"
7,CPI Italia 2012,"2,31 %",NaN,CPI Italia 2002,"2,83 %"
8,CPI Italia 2011,"3,29 %",NaN,CPI Italia 2001,"2,37 %"
9,CPI Italia 2010,"1,88 %",NaN,CPI Italia 2000,"2,70 %"
10,CPI Italia 2009,"1,02 %",NaN,CPI Italia 1999,"2,11 %"

In [4]:

df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0)).reset_index(drop=True)

In [5]:
# riorganizza colonne
anno = df["inflazione annua (da dic. a dic)"].T.stack().values
inflazione = df["inflazione"].T.stack().values
df = pd.DataFrame({"anno":anno,
                   "inflazione":inflazione})

# convertirsione da stringa a numerico
df["anno"] = df["anno"].str.split(" ").str[-1].astype("int64")
df["inflazione"] = df["inflazione"].str.replace("\xa0%", "").str.replace(",", ".").astype("float64")/100

In [6]:
df

    anno  inflazione
0   2018      0.0109
1   2017      0.0090
2   2016      0.0049
3   2015      0.0009
4   2014      0.0000
5   2013      0.0066
6   2012      0.0231
7   2011      0.0329
8   2010      0.0188
9   2009      0.0102
10  2008      0.0224
11  2007      0.0261
12  2006      0.0187
13  2005      0.0199
14  2004      0.0203
15  2003      0.0250
16  2002      0.0283
17  2001      0.0237
18  2000      0.0270
19  1999      0.0211

In [7]:
# seleziona valori dell' inflazione dal 2004 al 2018
vls = df[df["anno"].between(2004,2018)]["inflazione"].values

ci = 160_000
cf = ci
spese = 70_000
mesi = 14 * 12
for v in vls+1:
    cf *= v
diff = cf-ci
tot = spese+diff
print("Capitale iniziale: {:0.2f}".format(ci))
print("Aggiustato inflazione: {:0.2f}".format(cf))
print("Differenza: {:0.2f}".format(diff))
print("Costo totale: {:0.2f}".format(tot))
print("Costo mensuale: {:0.2f}".format(tot/mesi))

Capitale iniziale: 160000.00
Aggiustato inflazione: 199850.29
Differenza: 39850.29
Costo totale: 109850.29
Costo mensuale: 653.87